n8n.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db3c55c8-ad6d-4c4f-ba81-de1f18b1cd62",
              "name": "chatInput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "145fe06c-432b-4ef3-809c-370320768583",
              "name": "nombre",
              "value": "={{ $json.message.chat.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "70860a86-0d60-485f-93f1-0c865cfa7736",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Eres un asistente que responde de forma clara y amigable.\n\nSiempre debes saludar al usuario usando su nombre:\nNombre del usuario: \n{{ $json.nombre }}\nMensaje del usuario:\n{{ $json.chatInput }}\n\nReglas importantes:\n\n1. Siempre inicia con un saludo usando el nombre.\n   Ejemplo: \"Hola Juan, ...\"\n\n2. Analiza el mensaje del usuario:\n   - Si el usuario NO menciona una ciudad:\n     → pide amablemente el nombre de la ciudad que quiere consultar.\n     → NO intentes responder con clima.\n     → NO uses herramientas.\n\n   - Si el usuario menciona una ciudad:\n     → extrae el nombre de la ciudad.\n     → responde confirmando que consultarás el clima.\n\n3. No inventes ciudades.\n4. No respondas con datos de clima aún.\n5. Sé breve, claro y natural.\n\nTu respuesta debe ser solo el mensaje final, sin explicaciones internas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        0
      ],
      "id": "dd716cd8-b233-4487-8338-b6ce2490a9ca",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        176
      ],
      "id": "bb6c49c3-b44e-4d45-aef9-a2b53a9b762c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nniV00m2cJwkgYZJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37a2b7b1-b894-4287-9d33-752ca2f1dcb4",
              "name": "chatInput",
              "value": "={{ $('Edit Fields').item.json.chatInput }}",
              "type": "string"
            },
            {
              "id": "e6b2ecf0-f0d1-4c55-94ab-346d5fa8e10e",
              "name": "nombre",
              "value": "={{ $('Edit Fields').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "605551e1-0f99-4ce2-bfcc-0ea1f62b88da",
              "name": "mensaje",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        0
      ],
      "id": "14ec595f-8f95-40fc-bcb2-6fd8852bab97",
      "name": "Salida Mensaje"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        176,
        0
      ],
      "id": "dfd5bca9-bdfe-485c-8194-ea6d63c0dd50",
      "name": "Telegram Trigger",
      "webhookId": "8f4b14b5-ab47-48f6-8cd4-75e6731e41af",
      "credentials": {
        "telegramApi": {
          "id": "MlrIPGcupVCFJuyA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=7.1193&longitude=-73.1227&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        768,
        208
      ],
      "id": "276928c0-4b5d-49c0-9466-72bff2411def",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Salida Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Salida Mensaje": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0925e502b1dceca9c7f9c97421a196ca5e32d841d478c8181eca280371017f38"
  }
}